<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
 <!-- context:component-scan base-package="com.niit.*"/-->
   
 <http auto-config="true">
    <intercept-url pattern="/webapp/resources/**" access="permitAll"/>
    <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
    <intercept-url pattern="/goTologin" access="permitAll"/>
    
    <form-login login-page="/goTologin" username-parameter="username" password-parameter="password"
    authentication-success-forward-url="/home"
	   authentication-failure-forward-url="/error"
    />
    <access-denied-handler error-page="/error" />
     <logout logout-url="/logout" logout-success-url="/"
      invalidate-session="true"/>
 
</http>

<authentication-manager>
    <authentication-provider>
     
    <jdbc-user-service data-source-ref="dataSource"
     authorities-by-username-query="select email,role from user_detail where email=?"
 				users-by-username-query="select email, password, enabled from user_detail where email = ?" />        
    </authentication-provider>
    
</authentication-manager>

</beans:beans>